@{
    ViewBag.Title = "ViaroAPP Home Page";
}

<div class="jumbotron">
    <h1>Viaro APP</h1>
    <p class="lead">Applicacion de gestion de estudiantes, profesores y cursos "Administración de  colegio"</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Requerimientos</h2>
        <p>
            Descripción  Se requiere una solución para la administración datos de un colegio, es decir quesenecesitan
            operaciones CRUD (crear, leer, actualizar y eliminar) para las entidades de: 
           <pre>   
            ● Alumno: Id, Nombre, Apellidos, Género, Fecha Nacimiento  
            ● Profesor: Id, Nombre Apellidos, Género  
            ● Grado: Id, Nombre, ProfesorId  
            ● AlumnoGrado: Id, AlumnoId, GradoId, Sección.
           </pre>
            El sistema debe proveer operaciones CRUD para cada entidad. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tecnologias</h2>
        <p>
            Para la Aplicacion se han utilizado las siguientes tecnologias
            <pre> 
            ● Lenguaje: ASP.NET - MVC
            ● Base de Datos: SQL Server
            ● Framework: Entityframework
            ● IDE: Visual Studio 2017 Community
            </pre>
        </p>
    </div>
</div>